# Example Environment Configuration
# Copy this file to .env and adjust paths accordingly:
# cp .env.example .env

MEDCAT_MODEL_PATH=path/to/umls_self_train_model_pt2ch_3760d588371755d0.zip

# Set to False for v1 legacy models; set to True once migrated to native v2 format
MEDCAT_AVOID_LECACY_CONVERSION=False
TOKENIZERS_PARALLELISM=false
